:root {
  font-family: 'Roboto', sans-serif;
  color:  var(--white);


--dark-blue: #1f1d2b;
--light-blue: #3d6bf4;
--white: #f4f3fb;
--light-gray: #898b97;
--dark-gray: #2f3142;
--accent:#57ACDC;

}

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*General Layout */

h2 {
  font-size: 16px;
  font-weight: 500;
}

h4 {
  font-size: 12px;
  font-weight: 500;
}

.container {
display: grid;
height: 100vh;
grid-template-columns: 225px 1fr;
grid-template-areas:
  "sidebar main";
}


/* Sidebar */
.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 50px auto 1fr;
  gap: 50px;
  background: var(--light-blue);
  color: white;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  z-index: 2;
}

.logo-container {
  font-size: 24px;
  display: grid;
  gap: 20px;
  align-items: center;
  grid-template-columns: 25px 1fr;
}

.nav ul, .account-options ul {
  display: grid;
  gap: 20px;
}

.nav ul > li, .account-options ul > li {
  display: grid;
  grid-template-columns: 10px 1fr;
  gap: 30px;
}

.main {
  grid-area: main;
  background: white;
  display: grid;
  grid-template-rows: 150px 1fr;

}

/* Header */
.header {
  background: var(--dark-gray);
  display: grid;
  padding: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
  z-index: 1;
}

.top-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.top-header__profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-image: url(/img/profile-pic.jpeg);
  background-size: cover;
  background-position: top;
}

.search {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
}

.search input {
  border-radius: 12px;
  height: 25px;
  border: 0;
  background-color: lightblue;
}

.account-header {
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: end;
}

/*Account Info */
.account-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  align-content: end;
}

.account-welcome {
  display: grid;
  gap: 20px;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.account-info__profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-image: url(/img/profile-pic.jpeg);
  background-size: cover;
}

.account-info__introduction {
  font-size: 10px;
  margin-bottom: 5px;
}

.account-actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: end;
  align-items: center;
}

button {
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 12px;
  height: 30px;
  width: 70px;
  border-radius: 15px;
  border: 0;
}

/* Page Content */
.page-content {
  background:var(--dark-blue);
  height: 95%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px;
}

.content-left {
  display: grid;
  grid-template-rows: 20px 1fr;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px;
  padding-right: 20px;
  margin-top: 10px;
}

.project-card {
  background-color: var(--dark-gray);
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 10%;
  border-left: 8px solid var(--accent);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}


.project-details h3 {
  font-size: 16px;
  font-weight: 500;
}

.project-title {
  margin-bottom: 5px;
}

.project-desc {
  overflow: hidden;
}

.project-details p, .announcement-card p {
  color: var(--light-gray);
  font-size: 12px;
  font-weight: 300;
}

.project-actions {
  display: grid;
  grid-template-columns: 20px 20px 20px;
  gap: 20px;
  justify-content: end;
}

/* Right Sidebar */
.content-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.announcements-section {
  display: grid;
  grid-template-rows: 20px 1fr;
}

.announcements {
  display: grid;
  grid-template-rows: 1fr auto 1fr auto 1fr;
  background-color: var(--dark-gray);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  align-items: center;
  margin-top: 10px;
}

.announcement-card h4 {
  margin-bottom: 5px;
}

.announcement-card p {
  font-size: 10px;
}


hr {
  width: 100%;
}



.trending-section {
  display: grid;
  grid-template-rows: 20px 1fr;
}

.trending {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: var(--dark-gray);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  margin-top: 10px;
}

.trending-user {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 15px;
  align-items: center;
}

.trending-user__pic {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
}

.trending1 {
  background-image: url(/img/trending1.jpeg);
}
.trending2 {
  background-image: url(/img/trending2.jpeg);
}
.trending3 {
  background-image: url(/img/trending3.jpeg);
}
.trending4 {
  background-image: url(/img/trending4.jpeg);
}

.trending-user__info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 5px;
}

.trending-user__handle {
  font-weight: 500;
  font-size: 12px;
}
.trending-user__name {
  font-size: 12px;
  font-weight: 300;
}